<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>商户代金券红包申请</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/select.css">
    <link rel="stylesheet" href="merchantVoucherRedEnvelopes.css">
</head>

<body>
    <div class="wrapper" ng-cloak>
        <div class="form-wrap" ng-controller="activityApplyFormCtrl">
            <div class="row result-header">
                <div class="col-xs-4">
                    <div class="title">
                        <img src="../../resources/images/icon_list.png">
                        <p class="title-cn">申请人信息填写</p>
                        <p class="title-en">Application information</p>
                    </div>
                </div>
                <div class="col-xs-8 text-right">
                    <button ng-click="toggleShow()" class="btn btn-xs btn-set"><i class="iconfont" ng-class="{'arrow-down': showInformation}">&#xe607;</i> <span ng-bind="showInformation ? '收起':'展开'"></span></button>
                </div>
            </div>
            <div class="information-wrap animate-show" ng-show="showInformation">
                <form name="activityApplyForm" class="form-inline" role="form">
                    <div class="row mb10">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">所属省份：</label>
                                <input type="text" class="form-control" ng-model="activityApply.applyProvinceName" disabled>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">所属公司：</label>
                                <input type="text" class="form-control" ng-model="activityApply.applyCompany">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">申请日期：</label>
                                <input type="text" class="form-control modify-input" uib-datepicker-popup readonly ng-model="activityApply.applyStateDate" is-open="startPopupOpened" min-date="minStartDate" max-date="maxStartDate" datepicker-options="startDateOptions" show-button-bar='false' />
                                <span class="icon_time" ng-click="startOpen()"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">申请人：</label>
                                <input type="text" class="form-control" ng-model="activityApply.applyMan">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">联系电话：</label>
                                <input type="text" class="form-control" ng-model="activityApply.linkTele">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">联系邮箱：</label>
                                <input type="text" class="form-control" ng-model="activityApply.linkEmail">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-wrap" ng-controller="redPacketCtrl">
            <div class="row result-header">
                <div class="col-xs-4">
                    <div class="title">
                        <img src="../../resources/images/icon_store.png">
                        <p class="title-cn">活动信息</p>
                        <p class="title-en">Activity information</p>
                    </div>
                </div>
                <div class="col-xs-8 text-right">
                    <button ng-click="toggleShow()" class="btn btn-xs btn-set"><i class="iconfont" ng-class="{'arrow-down': showRedpacket}">&#xe607;</i> <span ng-bind="showRedpacket ? '收起':'展开'"></span></button>
                </div>
            </div>
            <div class="redpacket-wrap animate-show" ng-show="showRedpacket">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="4">/ 基础信息填写</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="redpacket-item">活动名称</p>
                            </td>
                            <td>
                                <input type="text" class="form-control redpacket-input" ng-model="activityInfo.activityName">
                            </td>
                            <td>
                                <p class="redpacket-item">活动描述</p>
                            </td>
                            <td>
                                <input type="text" class="form-control redpacket-input" ng-model="activityInfo.activityDesc">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="redpacket-item">活动开展省份</p>
                            </td>
                            <td>
                                <input type="text" class="form-control redpacket-input" value="四川省" disabled>
                            </td>
                            <td>
                                <p class="redpacket-item">活动开展城市</p>
                            </td>
                            <td>
                                <ui-select ng-controller="areaMultipleCtrl as $ctrl" multiple limit="5" on-select="$ctrl.changeCallback($item, $model)" on-remove="$ctrl.changeCallback($item, $model)" ng-model="$ctrl.checkedAreaList" theme="bootstrap" ng-disabled="$ctrl.disabled" close-on-select="false" title="最多可以选择5个">
                                    <ui-select-match>{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="area in $ctrl.areaList | filter:$select.search">
                                        {{area.name}}
                                    </ui-select-choices>
                                </ui-select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="redpacket-item">商户简称</p>
                            </td>
                            <td>
                                <input type="text" class="form-control redpacket-input" ng-model="merchantAbbreviation">
                            </td>
                            <td>
                                <p class="redpacket-item">活动总成本</p>
                            </td>
                            <td>
                                <input type="text" class="form-control redpacket-input" ng-model="totalCost">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="redpacket-item">红包开始时间</p>
                            </td>
                            <td>
                                <div class="datepicker-input">
                                    <input type="text" class="form-control modify-input" uib-datepicker-popup readonly ng-model="activityInfo.activityStartDate" is-open="startPopupOpened" min-date="minStartDate" max-date="maxStartDate" datepicker-options="startDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="startOpen()"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </td>
                            <td>
                                <p class="redpacket-item">红包结束时间</p>
                            </td>
                            <td>
                                <div class="datepicker-input">
                                    <input type="text" id="createEndDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="activityInfo.activityEndDate" is-open="endPopupOpened" min-date="minEndDate" max-date="maxEndDate" datepicker-options="endDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="endOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-wrap" ng-controller="redFoundationCtrl">
            <div class="row result-header">
                <div class="col-xs-4">
                    <div class="title">
                        <img src="../../resources/images/icon_store.png">
                        <p class="title-cn">活动资源信息</p>
                        <p class="title-en">Activity resource information </p>
                    </div>
                </div>
                <div class="col-xs-8 text-right">
                    <button ng-click="toggleShow()" class="btn btn-xs btn-set"><i class="iconfont" ng-class="{'arrow-down': showFoundation}">&#xe607;</i> <span ng-bind="showFoundation ? '收起':'展开'"></span></button>
                </div>
            </div>
            <div class="information-wrap animate-show" ng-show="showFoundation">
                <div class="staff-man-result">
                    <div class="row red-foundation-head">
                        <div class="col-xs-4">
                            <div class="title">
                                <img class="icon-title" src="../../resources/images/icon_list_green.png">
                                <span class="text-title">资源列表</span>
                            </div>
                        </div>
                        <div class="col-xs-8 text-right">
                            <button ng-click="addNewLine()" class="btn btn-xs btn-set"><i class="iconfont">&#xe60e;</i> 新增</button>
                        </div>
                    </div>
                    <div class="result-table">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th width="45%">资源类型</th>
                                    <th width="45%">资源名称</th>
                                    <th width="10%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in resources">
                                    <td>
                                        <p ng-bind="item.rscId"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.rscName"></p>
                                    </td>
                                    <td>
                                        <button ng-click="editLine(item)" class="btn btn-xs btn-edit"><i class="iconfont">&#xe60d;</i> 编辑</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-ctrl text-center" ng-cloak ng-controller="submitCtrl">
            <button ng-click="submitApply('save')" class="btn btn-submit">保存</button>
            <button ng-click="submitApply('apply')" class="btn btn-cancel">提交审批</button>
        </div>
    </div>
    <script src="../../resources/js/require.js" data-main="entry"></script>
</body>

</html>
