<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>系统管理平台-员工管理</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link href="../../resources/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/select.css">
    <link rel="stylesheet" href="distributionAllocation.css">
</head>

<body ng-app="distributionAllocationModule">
    <div class="wrapper">
        <!-- step select -->
        <div class="step fn-clear">
            <li class="step-item fn-left" ng-class="{current: stepNum === 0}">
                <div class="step-icon"></div>
                <p class="step-title">1.活动信息填写</p>
            </li>
            <li class="step-item fn-left" ng-class="{current: stepNum === 1}">
                <div class="step-icon"></div>
                <p class="step-title">2.厅店发放配置</p>
            </li>
            <li class="step-item fn-left" ng-class="{current: stepNum === 2}">
                <div class="step-icon"></div>
                <p class="step-title">3.活动商户</p>
            </li>
            <li class="step-item fn-left" ng-class="{current: stepNum === 3}">
                <div class="step-icon"></div>
                <p class="step-title">4.确认发放</p>
            </li>
        </div>
        <!-- step0 -->
        <div class="step-wrapper" ng-controller="firstStepCtrl" ng-cloak ng-show="stepNum === 0">
            <div class="row result-title">
                <div class="col-xs-4">
                    <div class="title">
                        <img src="../../resources/images/icon_staffList.png">
                        <p class="title-cn">活动信息配置</p>
                        <p class="title-en">Activity information configuration</p>
                    </div>
                </div>
            </div>
            <div class="step-content">
                <form name="activityInformationForm" class="form-inline" role="form">
                    <div class="row mb10">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">活动名称：</label>
                                <input type="text" class="form-control" ng-model="activityInformation.activityName">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">活动编码：</label>
                                <input type="text" class="form-control" ng-model="activityInformation.activityCode">
                            </div>
                        </div>
                    </div>
                    <div class="row mb10">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">活动周期：</label>
                                <div class="datepicker-input fn-left">
                                    <input type="text" id="createStartDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="createStartDt" is-open="startPopupOpened" min-date="minStartDate" max-date="maxStartDate" datepicker-options="startDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="startOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                                <div class="datepicker-text fn-left">至</div>
                                <div class="datepicker-input fn-left">
                                    <input type="text" id="createEndDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="createEndDt" is-open="endPopupOpened" min-date="minEndDate" max-date="maxEndDate" datepicker-options="endDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="endOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">活动类型：</label>
                                <input type="text" class="form-control" ng-model="activityInformation.activityType" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row mb10">
                        <div class="col-xs-6">
                            <div class="form-group" ng-controller="selectMultipleCtrl as $ctrl">
                                <label class="control-label">活动地区：</label>
                                <ui-select multiple limit="5" on-select="$ctrl.changeCallback($item, $model)" on-remove="$ctrl.changeCallback($item, $model)" ng-model="$ctrl.checkedAreaList" theme="bootstrap" ng-disabled="$ctrl.disabled" close-on-select="false" title="最多可以选择5个地市">
                                    <ui-select-match>{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="area in $ctrl.areaList | filter:$select.search">
                                        {{area.name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="prompt"><i class="iconfont">&#xe692;</i>可多选城市</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label">活动描述：</label>
                                <textarea col="" row="10" class="form-control" ng-model="activityInformation.activityDesc"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- step1 -->
        <div class="step-wrapper" ng-controller="secondStepCtrl" ng-cloak ng-show="stepNum === 1">
            <div class="row result-title">
                <div class="col-xs-4">
                    <div class="title">
                        <img src="../../resources/images/icon_staffList.png">
                        <p class="title-cn">基本信息</p>
                        <p class="title-en">Essential information</p>
                    </div>
                </div>
            </div>
            <div class="step-content">
                <form name="essentialInformationForm" class="form-inline" role="form">
                    <div class="row mb10">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">发放时间：</label>
                                <p class="detail-input"><span ng-bind="startDt"></span> 至 <span ng-bind="endDt"></span></p>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="staff-man-result">
                    <div class="row result-header">
                        <div class="col-xs-4">
                            <div class="title">
                                <img src="../../resources/images/icon_typeSetup.png">
                                <p class="title-cn">发放单代金券明细</p>
                                <p class="title-en">Single payment voucher details</p>
                            </div>
                        </div>
                        <div class="col-xs-8 text-right">
                            <button ng-click="addOneLine()" class="btn btn-xs btn-set"><i class="iconfont">&#xe60e;</i> 增加一行</button>
                            <button ng-click="" class="btn btn-xs btn-set"><i class="iconfont">&#xe60f;</i> 导入</button>
                        </div>
                    </div>
                    <div class="result-table">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th width="15%">资源编码</th>
                                    <th width="20%">资源名称</th>
                                    <th width="15%">厅店编码</th>
                                    <th width="20%">厅店名称</th>
                                    <th width="15%">发放个数</th>
                                    <th width="15%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in lineList">
                                    <td>
                                        <p ng-bind="item.staffId"></p><span ng-click="addHallResources()">...</span>
                                    </td>
                                    <td>
                                        <p ng-bind="item.staffNumber"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.areaName"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.staffNumber"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.areaName"></p>
                                    </td>
                                    <td>
                                        <button ng-click="" class="btn btn-xs btn-edit"><i class="iconfont">&#xe610;</i> 删除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-controller="paginationCtrl" class="text-center page">
                        <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                        <div class="page-num">共<span class="number" ng-bind="totalNum || 0"></span>条记录，当前显示第<span class="number" ng-bind="currentPage || 1"></span>页</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-ctrl text-center" ng-controller="stepCtrl">
            <button ng-click="goBack(stepNum)" ng-if="stepNum !== 0" ng-cloak class="btn btn-cancel">上一步</button>
            <button ng-click="forward(stepNum)" ng-if="stepNum !== 3" class="btn btn-cancel">下一步</button>
            <button ng-click="giveoutActivityCommit()" ng-if="stepNum === 3" ng-cloak class="btn btn-submit">确定</button>
        </div>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/angular-locale_zh-cn.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/mock.js"></script>
    <script src="../../resources/js/select.js"></script>
    <script src="distributionAllocation.js"></script>
</body>

</html>
