.wrapper {
  margin: 10px 20px 0;
}
.form-wrap {
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
.form-wrap-title {
  height: 36px;
  border-bottom: 1px solid #ddd;
  line-height: 36px;
  font-size: 14px;
}
.form-wrap-title .name {
  margin-left: 20px;
  color: #7b7b7b;
}
.form-wrap-title .stress {
  color: #ff8c19;
}
.form-wrap-title .value {
  color: #000;
}
.sortable-wrap .title {
  position: relative;
  height: 30px;
  margin-left: 20px;
  padding-left: 26px;
  line-height: 30px;
  color: #000;
  font-size: 14px;
}
.sortable-wrap .title img {
  position: absolute;
  top: 5px;
  left: 0;
}
.sortable-wrap .title span {
  color: #919191;
  font-size: 12px;
}
.sortable-check-wrap {
  width: 50%;
}
.sortable-option-wrap {
  width: 50%;
  border-right: 1px solid #ddd;
}
.sortable-container {
  min-height: 300px;
  margin: 5px 24px 25px;
  background-color: #f5fafa;
}
.sortable-container .item {
  width: 114px;
  height: 50px;
  margin: 15px 20px;
  padding: 5px 10px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  background: linear-gradient(to bottom, #f7f7f7 0%, #e9e9e9 100%);
  line-height: 20px;
  color: #000;
  font-size: 12px;
}
.placeholder {
  float: left;
  width: 114px;
  height: 50px;
  margin: 15px 20px;
  background: whitesmoke;
  border: 3px dashed gray;
  box-sizing: border-box;
  display: table;
  text-align: center;
}
.sortable-container .item .level {
  font-weight: 700;
}
.sortable-container .item .age {
  color: #868686;
}
.sortable-container .item .age span {
  color: #000;
}
.step-ctrl {
  margin-top: 20px;
}
