.operate-spec{
    padding: 10px 20px 0;
}
/* 查询 */

.operate-spec-query {
    padding: 10px 15px;
    border: 1px solid #ddd;
}
.control-label{
    width:90px;
}
.query-input {
    width: 220px !important;
    padding:0 6px;
    height: 25px;
    line-height:25px;
}

/* 结果 */
.operate-spec-result {
    margin-top: 10px;
}
.result-header {
    height: 37px;
    margin: 0;
    line-height: 32px;
    border: 1px solid #ddd;
    border-bottom: none;
}
.result-header .title {
    position: relative;
    padding-top: 4px;
    padding-left: 32px;
    line-height: 16px;
}
.result-header .title img {
    position: absolute;
    top: 4px;
    left: 0;
}
.result-header .title .title-cn {
    color: #4c9ef5;
    font-size: 14px;
}
.result-header .title .title-en {
    color: #ddd;
    font-size: 12px;
}

.btn-set {
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffc619;
    border-color: #ffc619;
    color: #fff;
    font-size: 12px;
    margin-top: 2px;
}
.btn-set:focus, .btn-set.focus {
    background-color: #e4ae0c;
    border-color: #e4ae0c;
    color: #fff;
}
.btn-set:hover {
    background-color: #e4ae0c;
    border-color: #e4ae0c;
    color: #fff;
}
.result-table table th {
    background-color: #f5fafa;
    border-bottom-width: 1px !important;
    color: #333;
    font-weight: 800;
    text-align: center;
}
.result-table table td {
    padding: 2px !important;
    text-align: center;
}
.result-table table td p {
    height: 25px;
    line-height: 25px;
}
.btn-edit {
    background-color: #b1cc00;
    color: #fff;
    margin-top: 2px;
}

.btn-edit i {
    font-size: 12px;
}

.btn-edit:focus, .btn-edit.focus {
    background-color: #a4bc04;
    color: #fff;
}

.btn-edit:hover {
    background-color: #a4bc04;
    color: #fff;
}
.modal-body .form-group .detail-input{
    border:0;
    background: #fff;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
    -webkit-box-shadow:inset 0 0 0 rgba(0, 0, 0, .075);
    font-size: 12px;
    width:100px !important;
    padding:0;
}
.modal-content {
    border-radius: 0;
}
.modal-title .iconfont{
    margin-right: 6px;
}
.modal-header {
    background-color: #ffb319;
}
.modal-title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.modal-title .icon{
    float: left;
    display: inline-block;
    margin-right: 5px;
}
.modal-footer {
    text-align: center !important;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{
    padding:5px 0;
}

/* input 百分比 */
.form-group {
    position: relative;
    width: 100% !important;
    padding-left: 120px;
}

.form-group label {
    position: absolute;
    left: 0;
    width: 120px !important;
    line-height: 25px;
    text-align: right;
}

.form-group input[type="text"] {
    width: 100% !important;
    height: 25px;
    padding: 0 12px;
    line-height: 25px;
}

.form-group select {
    width: 100% !important;
}

.form-group textarea {
    width: 100% !important;
}
.datepicker-input {
    position: relative;
    width: 45%;
}

.datepicker-text {
    width: 10%;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.icon_time {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #ffb366;
    cursor: pointer;
}

/* 分页 */
.page {
    position: relative;
    height: 26px;
    margin-bottom: 10px;
}
.page-num {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 16px;
    color: #4c4c4c;
    line-height: 16px;
}
.page-num .number {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin: 0 3px;
    padding: 0 4px;
    background-color: #ff9f19;
    border-radius: 5px;
    color: #fff;
}
/* ng-cloak修复闪跳 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

/* select */
.select-box {
    width: 100%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff url('../../resources/images/select_bg.jpg') no-repeat 98% center;
    overflow: hidden;
}
.control-label .select-box.time {
    border-radius: 4px;
    margin-right: 4px;
    width:115px;
}
.form-group select {
    width: calc(100%) !important;
    height: 25px;
    padding: 0 12px;
    line-height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.form-group select::-ms-expand {
    display: none;
}

/* 日历 */
.dropdown-menu {
    padding: 1px;
}

/* 表单提示 */
.prompt {
    position: absolute;
    right: -100px;
    top: 0;
    width: 100px;
    height: 25px;
    line-height: 25px;
    color: #ff0000;
}
/* select2 */
.ui-select-multiple.ui-select-bootstrap {
    width: 100%;
    height: 25px;
    padding: 0 5px;
    border-radius: 4px;
}

.ui-select-multiple.ui-select-bootstrap>div {
    height: 23px;
    line-height: 23px;
    overflow: hidden;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
    line-height: 18px;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    height: 20px;
    margin-right: 4px;
    line-height: 20px;
    border: none;
    background-color: #f5f5f5;
    color: #333;
    border-radius: 2px;
}
.areaname::after{
    content:',';
}
.areaname:last-child::after{
    content:'';
}

.control-label .select-box {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.border-left-none {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-group-first label {
    position: absolute;
    left: 0;
    width: 80px !important;
    line-height: 25px;
    text-align: right;
}
.form-group-first {
    position: relative;
    width: 100% !important;
    padding-left: 80px;
}
.select-border{
    border: 1px solid #ccc!important;
    border-radius: 4px;
}
.font-orange, .font-orange a{
    color: #ff9f19;
    text-decoration: underline;
    cursor: pointer;
}


.btn-set-green {
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #6fbd4d;
    border-color: #6fbd4d;
    color: #fff;
    font-size: 12px;
    margin-top: 2px;
}
.btn-set-green:focus, .btn-set-green.focus {
    background-color: #5a9a3e;
    border-color: #5a9a3e;
    color: #fff;
}
.btn-set-green:hover {
    background-color: #5a9a3e;
    border-color: #5a9a3e;
    color: #fff;
}

.btn-set-orange {
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fd8023;
    border-color: #fd8023;
    color: #fff;
    font-size: 12px;
    margin-top: 2px;
}
.btn-set-orange:focus, .btn-set-orange.focus {
    background-color: #ea7620;
    border-color: #ea7620;
    color: #fff;
}
.btn-set-orange:hover {
    background-color: #ea7620;
    border-color: #ea7620;
    color: #fff;
}
.reminder-msg{
    padding: 50px 0px;
    text-align: center;
    font-size: 16px;
    color: #333333;
    line-height: 30px;
}


.addType{
    padding: 50px 0;
}
.addType .form-group {
    position: relative;
    width: 100% !important;
    padding-left: 80px;
}
.addType .form-group label {
    position: absolute;
    left: 0;
    width: 80px !important;
    line-height: 25px;
    text-align: right;
}
.addType .form-group select {
    width: calc(100% - 20px) !important;
    height: 25px;
    padding: 0 12px;
    line-height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.coding-box{
    padding: 10px;
}

.btn-cancel.cancel{
    background: #eee;
    color:#999;
    border:1px solid #ccc;
}
.btn-cancel.cancel:hover{
    color:#999;
    background: #ddd;
}
.mr22{
    margin-right:22px;
}
.photo-out{
    padding:10px 20px 15px;
    text-align: center;
    color:#ff8c19;
    font-size: 14px;
    line-height: 30px;
}
.pic-loading{
    position: fixed;
    width:158px;
    height:58px;
    line-height: 58px;
    text-align: center;
    border:1px solid #ffcc00;
    border-radius: 4px;
    background-color: #fff;
    color:#ffb319;
    font-size: 14px;
    left:18px;
    bottom: 18px; 
    z-index: 1050;   
}