<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>商户活动审批管理</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link href="../../resources/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/select.css">
    <link rel="stylesheet" href="activityApproveManage.css">
</head>

<body ng-app="activityApproveManageModule">
    <div class="operate-spec" ng-controller="queryOperateFormCtrl">
        <!-- 查询 -->
        <div class="operate-spec-query" ng-cloak>
            <form name="queryOperateForm" ng-submit="queryOperateFormSubmit()" class="form-inline" role="form">
                <div class="row mb10">
                    <div class="col-xs-4">
                    <div class="form-group form-group-first">
                        <label class="control-label">
                            <div class="select-box">
                                <select>
                                    <option>商品编码</option>
                                    <option>商户名称</option>
                                </select>
                            </div>
                        </label>
                        <input type="text" class="form-control border-left-none">
                    </div>
                </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label">审批状态：</label>
                            <select class="select-border">
                                <option value="">完成</option>
                                <option value="">未开始</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4 text-right">
                        <div class="form-group">
                                <label class="control-label">申请日期：</label>
                                <div class="datepicker-input fn-left">
                                    <input type="text" id="createStartDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="createStartDt" is-open="startPopupOpened" min-date="minStartDate" max-date="maxStartDate" datepicker-options="startDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="startOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                                <div class="datepicker-text fn-left">至</div>
                                <div class="datepicker-input fn-left">
                                    <input type="text" id="createEndDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="createEndDt" is-open="endPopupOpened" min-date="minEndDate" max-date="maxEndDate" datepicker-options="endDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="endOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row mb10">
                    <div class="col-xs-4">
                        <div class="form-group" ng-controller="selectMultipleCtrl as $ctrl">
                            <label class="control-label">归属地市：</label>
                            <ui-select multiple limit="3" on-select="$ctrl.changeCallback($item, $model)" on-remove="$ctrl.changeCallback($item, $model)" ng-model="$ctrl.checkedAreaList" theme="bootstrap" ng-disabled="$ctrl.disabled" close-on-select="false" title="最多可以选择3个地市">
                                <ui-select-match>{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="area in $ctrl.areaList | filter:$select.search">
                                    {{area.name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <button type="submit" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 结果 -->
        <div class="operate-spec-result" ng-cloak ng-controller="queryOperateResultCtrl">
            <div class="row result-header">
                <div class="col-xs-4">
                    <div class="title">
                        <img src="../../resources/images/icon_list_green.png">
                        <p class="title-cn">活动名称及描述审批列表</p>
                    </div>
                </div>
                <div class="col-xs-8 text-right">
                    <button ng-click="activityApprove()" class="btn btn-xs btn-set"><i class="iconfont">&#xe65c;</i> 审批</button>
                    <button ng-click="activityApprove()" class="btn btn-xs btn-set"><i class="iconfont">&#xe67e;</i> 一键审批</button>
                </div>
            </div>
            <div class="result-table">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="5%"><input type="checkbox" ng-click="checkAll(isCheckedAll)" ng-model="isCheckedAll"></th>
                            <th width="12%">商户编码</th>
                            <th width="12%">商户名称</th>
                            <th width="8%">模板标识</th>
                            <th>模板内容</th>
                            <th width="12%">申请时间</th>
                            <th width="8%">审批状态</th>
                            <th width="12%">审批时间</th>
                            <th width="8%">审批人员</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" name="checkbox{{$index}}" ng-click="check(item, isChecked)" ng-model="isChecked"></td>
                            <td>
                                <p>YZF_112300101</p>
                            </td>
                            <td>
                                <p>活动A</p>
                            </td>
                            <td>
                                <p ng-click="activityDetail()" class="org">1001</p>
                            </td>
                            <td>
                                <p>成都</p>
                            </td>
                            <td>
                                <p>2017/01/01-2017/01/10</p>
                            </td>
                            <td>
                                <p>正常</p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="checkbox{{$index}}" ng-click="check(item, isChecked)" ng-model="isChecked"></td>
                            <td>
                                <p>YZF_112300101</p>
                            </td>
                            <td>
                                <p>活动A</p>
                            </td>
                            <td>
                                <p ng-click="activityDetail()" class="org">1002</p>
                            </td>
                            <td>
                                <p>成都</p>
                            </td>
                            <td>
                                <p>2017/01/01-2017/01/10</p>
                            </td>
                            <td>
                                <p>正常</p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="checkbox{{$index}}" ng-click="check(item, isChecked)" ng-model="isChecked"></td>
                            <td>
                                <p>YZF_112300101</p>
                            </td>
                            <td>
                                <p>活动A</p>
                            </td>
                            <td>
                                <p ng-click="activityDetail()" class="org">1003</p>
                            </td>
                            <td>
                                <p>成都</p>
                            </td>
                            <td>
                                <p>2017/01/01-2017/01/10</p>
                            </td>
                            <td>
                                <p>正常</p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                        </tr>
                    </tbody>
                </table>  
            </div>
            <div ng-controller="paginationCtrl" class="text-center page">
                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                <div class="page-num">共<span class="number" ng-cloak ng-bind="totalNum || 0"></span>条记录，当前显示第<span class="number" ng-cloak ng-bind="currentPage || 0"></span>页</div>
            </div>
        </div>
        <!-- 审批详情 -->
        <script type="text/ng-template" id="costSharingModal.html">
            <div class="modal-header">
                <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                <h3 class="modal-title" id="detail-modal-title"><img class="icon" src="../../resources/images/yellow-house.png">审批批次</h3>
            </div>
            <div class="coding-box code-tabs"> 
                <p class="p-line"><img class="icon" src="../../resources/images/icon_businesslist.png">审批历史列表</p>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="15%">申请时间</th>
                            <th>模板内容</th>
                            <th width="10%">审批结果</th>
                            <th width="10%">审批人员</th>
                            <th width="15%">审批时间</th>
                            <th width="19%">审批意见</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>2017-08-01 18:44:22</p>
                            </td>
                            <td>
                                <p class="overflow-handle">XXXXXXXXXXXX活动</p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p>2017-08-01 18:44:22</p>
                            </td>
                            <td>
                                <p class="overflow-handle"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p class="overflow-handle">XXXXXXXXXXXX活动</p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p class="overflow-handle"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p class="overflow-handle">XXXXXXXXXXXX活动</p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p class="overflow-handle"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p class="overflow-handle">XXXXXXXXXXXX活动</p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p></p>
                            </td>
                            <td>
                                <p class="overflow-handle"></p>
                            </td>
                        </tr>
                    </tbody>
                </table> 
                <div ng-controller="paginationCtrl" class="text-center page">
                    <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                    <div class="page-num">共<span class="number" ng-cloak ng-bind="totalNum || 0"></span>条记录，当前显示第<span class="number" ng-cloak ng-bind="currentPage || 0"></span>页</div>
                </div>      
            </div>
            <div class="modal-footer">
                <button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">保存</button>
                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
            </div>
        </script>
        <!-- 审批详情 -->
        <!-- 审批-->
        <script type="text/ng-template" id="approvalModal.html">
            <div class="modal-header">
                <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                <h3 class="modal-title" id="detail-modal-title"><img class="icon" src="../../resources/images/yellow-house.png">商户活动审批</h3>
            </div>
            <div class="coding-box">
                
                <div class="coding-table">
                    <form name="queryOperateForm" class="form-inline coding-form" role="form">
                        <div class="row mb10">
                            <div class="col-xs-5">
                                <div class="form-group">
                                    <label class="control-label">审批结果：</label>
                                    <select class="select-border">
                                        <option value="">通过</option>
                                        <option value="">不通过</option>
                                    </select>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row mb10">
                            <div class="col-xs-9">
                                <div class="form-group">
                                    <label class="control-label">审批意见：</label>
                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">提交</button>
                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
            </div>
        </script>
        <!-- 审批详情 -->
    </div>

    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/angular-locale_zh-cn.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/mock.js"></script>
    <script src="../../resources/js/select.js"></script>
    <script src="activityApproveManage.js"></script>
</body>

</html>
