<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>发放查询</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link href="../../resources/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/select.css">
    <link rel="stylesheet" href="distributionQuery.css">
</head>

<body ng-app="distributionQueryModule">
    <div class="operate-spec" ng-controller="queryOperateFormCtrl">
        <!-- 查询 -->
        <div class="operate-spec-query" ng-cloak>
            <form name="queryOperateForm" ng-submit="queryOperateFormSubmit()" class="form-inline" role="form">
                <div class="row mb10">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="activityName">活动名称：</label>
                            <input type="text" id="activityName" class="form-control query-input" ng-model="queryOperateForm.activityName">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="hallName">厅店名称：</label>
                            <input type="text" id="hallName" class="form-control query-input" ng-model="queryOperateForm.hallName">
                        </div>
                    </div>
                    <div class="col-xs-4 text-right">
                        <div class="form-group">
                                <label class="control-label">活动周期范围：</label>
                                <div class="datepicker-input fn-left">
                                    <input type="text" id="createStartDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="createStartDt" is-open="startPopupOpened" min-date="minStartDate" max-date="maxStartDate" datepicker-options="startDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="startOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                                <div class="datepicker-text fn-left">至</div>
                                <div class="datepicker-input fn-left">
                                    <input type="text" id="createEndDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="createEndDt" is-open="endPopupOpened" min-date="minEndDate" max-date="maxEndDate" datepicker-options="endDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="endOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row mb10">
                    <div class="col-xs-4">
                        <div class="form-group" ng-controller="selectMultipleCtrl as $ctrl">
                            <label class="control-label">活动地区：</label>
                            <ui-select multiple limit="3" on-select="$ctrl.changeCallback($item, $model)" on-remove="$ctrl.changeCallback($item, $model)" ng-model="$ctrl.checkedAreaList" theme="bootstrap" ng-disabled="$ctrl.disabled" close-on-select="false" title="最多可以选择3个地市">
                                <ui-select-match>{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="area in $ctrl.areaList | filter:$select.search">
                                    {{area.name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="prompt"><i class="iconfont">&#xe692;</i>可多选</span>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group" ng-controller="selectStateCtrl as $ctrl">
                            <label class="control-label">活动状态：</label>
                            <ui-select multiple limit="3" on-select="$ctrl.changeCallback($item, $model)" on-remove="$ctrl.changeCallback($item, $model)" ng-model="$ctrl.checkedStateList" theme="bootstrap" ng-disabled="$ctrl.disabled" close-on-select="false">
                                <ui-select-match>{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="states in $ctrl.stateList | filter:$select.search">
                                    {{states.name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="prompt"><i class="iconfont">&#xe692;</i>可多选</span>
                        </div>
                    </div>
                    <div class="col-xs-4 text-right">
                        <button type="submit" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 结果 -->
        <div class="operate-spec-result" ng-cloak ng-controller="queryOperateResultCtrl">
            <div class="row result-header">
                <div class="col-xs-4">
                    <div class="title">
                        <img src="../../resources/images/icon_money.png">
                        <p class="title-cn">代金券发放列表</p>
                        <p class="title-en">List of payment vouchers</p>
                    </div>
                </div>
                <div class="col-xs-8 text-right">
                    <button ng-click="exportDistribution()" class="btn btn-xs btn-set"><i class="iconfont">&#xe627;</i> 导出</button>
                </div>
            </div>
            <div class="result-table">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="20%">发放活动名称</th>
                            <th width="30%">活动地区</th>
                            <th width="20%">活动日期</th>
                            <th width="7%">活动状态</th>
                            <th width="23%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in queryOperateResultList">
                            <td>
                                <p ng-bind="item.activitiIdName"></p>
                            </td>
                            <td>
                                <p>
                                    <span class="areaname" ng-repeat="o in item.areaIds" ng-bind="o.name"></span>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <span ng-bind="item.activityStartDate"></span> 至 <span ng-bind="item.activityEndDate"></span>
                                </p>
                            </td>
                            <td>
                                <p ng-bind="item.stateCode | stateName"></p>
                            </td>
                            <td>
                                <button ng-click="updateDistributionStatus('暂停',item.activitiId)" class="btn btn-xs btn-edit"><i class="iconfont">&#xe634;</i> 暂停</button>
                                <button ng-click="updateDistributionStatus('结束',item.activitiId)" class="btn btn-xs btn-edit"><i class="iconfont">&#xe6ca;</i> 结束</button>
                                <button ng-click="infoDistribution(item.activitiId)" class="btn btn-xs btn-edit"><i class="iconfont">&#xe60b;</i> 详情</button>
                                <button ng-click="editDistribution(item.activitiId)" class="btn btn-xs btn-edit"><i class="iconfont">&#xe60d;</i> 修改</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="no-data" ng-if="queryOperateResultList && !queryOperateResultList.length">
                    没有数据
                </p>
            </div>
            <div ng-controller="paginationCtrl" class="text-center page">
                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                <div class="page-num">共<span class="number" ng-cloak ng-bind="totalNum || 0"></span>条记录，当前显示第<span class="number" ng-cloak ng-bind="currentPage || 0"></span>页</div>
            </div>
        </div>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/angular-locale_zh-cn.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/mock.js"></script>
    <script src="../../resources/js/select.js"></script>
    <script src="distributionQuery.js"></script>
</body>

</html>
