<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>营销活动-立返</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link href="../../resources/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/select.css">
    <link rel="stylesheet" href="activityReturn.css">
</head>

<body ng-app="activityReturnModule">
	<div class="operate-spec" ng-controller="pageCtrl">
		<form name="activityReturnForm">
			<div class="detail-operate-result">
		        <div class="row result-header">
		            <div class="col-xs-4">
		                <div class="title">
		                    <img src="../../resources/images/icon_basicInfo_blue.png">
		                    <p class="title-cn">申请人信息填写</p>
		                    <p class="title-en">Application information</p>
		                </div>
		            </div>
		            <div class="col-xs-8 text-right">
	                    <button ng-click="isShow1 = !isShow1" class="btn btn-xs btn-set"><i class="iconfont" ng-class="{'arrow-down':!isShow1}">&#xe607;</i> <span ng-bind="isShow1 ? '收起':'展开'">收起</span></button>
	                </div>
		        </div>
		        <!-- 申请人信息 -->
		        <div ng-show="isShow1" class="result-content">
		        	<div class="row mb10">
		        		<div class="col-xs-4">
		                    <div class="form-group">
		                        <label class="control-label">所属公司：</label>
		                        <input type="text" class="form-control" />
		                    </div>
		                </div>
		                <div class="col-xs-4">
		                    <div class="form-group">
		                        <label class="control-label">省份：</label>
		                        <input type="text" class="form-control" />
		                    </div>
		                </div>
		                <div class="col-xs-4">
		                    <div class="form-group">
		                        <label class="control-label">申请日期：</label>
		                        <input type="text" class="form-control" />
		                    </div>
		                </div>
		        	</div>
		        	<div class="row">
		        		<div class="col-xs-4">
		                    <div class="form-group">
		                        <label class="control-label">申请人：</label>
		                        <input type="text" class="form-control" />
		                    </div>
		                </div>
		                <div class="col-xs-4">
		                    <div class="form-group">
		                        <label class="control-label">联系电话：</label>
		                        <input type="text" class="form-control" />
		                    </div>
		                </div>
		                <div class="col-xs-4">
		                    <div class="form-group">
		                        <label class="control-label">联系邮箱：</label>
		                        <input type="text" class="form-control" />
		                    </div>
		                </div>
		        	</div>
		        </div>
		    </div>
		    <div class="detail-operate-result" ng-controller="ActivityInfoCtrl">
		        <div class="row result-header">
		            <div class="col-xs-4">
		                <div class="title">
		                    <img src="../../resources/images/icon_gift.png">
		                    <p class="title-cn">活动信息填写</p>
		                    <p class="title-en">Activity information</p>
		                </div>
		            </div>
		            <div class="col-xs-8 text-right">
	                    <button ng-click="isShow2 = !isShow2" class="btn btn-xs btn-set"><i class="iconfont" ng-class="{'arrow-down':!isShow2}">&#xe607;</i> <span ng-bind="isShow2 ? '收起':'展开'">收起</span></button>
	                </div>
		        </div>
		        <!-- 活动信息 -->
		        <div ng-show="isShow2" class="result-content result-content-activity">
		        	<div class="activity-header">
		        		<div class="title">
		                    <img src="../../resources/images/icon_slash.png">
		                    <p>活动策略填写</p>
		                </div>
		        	</div>
		        	<div class="activity-content">
		        		<table class="table table-hover">
		        			<tbody>
		        				<tr>
		        					<td width="25%">活动名称</td>
		        					<td width="25%">
		        						<input type="text" class="form-control" />
		        					</td>
		        					<td width="25%">活动描述</td>
		        					<td width="25%">
		        						<input type="text" class="form-control" />
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>活动开展省份</td>
		        					<td>
		        						<div class="select-box">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        					<td>活动开展城市</td>
		        					<td>
		        						<div class="select-box select-box-half">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>返利活动范围</td>
		        					<td>
		        						<div class="select-box">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        					<td>活动总成本</td>
		        					<td>
		        						<input type="text" class="form-control" />
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>活动开始日期</td>
		        					<td>
										<div class="datepicker-input fn-left">
		                                    <input type="text" id="createStartDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="createStartDt" is-open="startPopupOpened" min-date="minStartDate" max-date="maxStartDate" datepicker-options="startDateOptions" show-button-bar='false' placeholder="请选择日期" />
		                                    <span class="icon_time" ng-click="startOpen()">
		                                        <i class="glyphicon glyphicon-calendar"></i>
		                                    </span>
		                                </div>
		        					</td>
		        					<td>活动结束日期</td>
		        					<td>
		        						<div class="datepicker-input fn-left">
		                                    <input type="text" id="createEndDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="createEndDt" is-open="endPopupOpened" min-date="minEndDate" max-date="maxEndDate" datepicker-options="endDateOptions" show-button-bar='false' placeholder="请选择日期" />
		                                    <span class="icon_time" ng-click="endOpen()">
		                                        <i class="glyphicon glyphicon-calendar"></i>
		                                    </span>
		                                </div>
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>返利周期</td>
		        					<td>
		        						<div class="select-box select-box-half">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        					<td>返利周日时间点</td>
		        					<td>
		        						<input type="text" class="form-control form-control-half fn-left" />
		        						<span class="iconfont fn-left">&#xe6d4;</span>
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>每日开始时间</td>
		        					<td>
		        						<input type="text" class="form-control" />
		        					</td>
		        					<td>每日结束时间</td>
		        					<td>
		        						<input type="text" class="form-control" />
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>用户等级（多选）</td>
		        					<td ng-controller="selectMultipleCtrl as $ctrl">
		        						<ui-select multiple limit="5" on-select="$ctrl.changeCallback($item, $model)" on-remove="$ctrl.changeCallback($item, $model)" ng-model="$ctrl.checkedAreaList" theme="bootstrap" ng-disabled="$ctrl.disabled" close-on-select="false" title="最多可以选择5个地市">
		                                    <ui-select-match>{{$item.name}}</ui-select-match>
		                                    <ui-select-choices repeat="area in $ctrl.areaList | filter:$select.search">
		                                        {{area.name}}
		                                    </ui-select-choices>
		                                </ui-select>
		        					</td>
		        					<td>交易渠道（多选）</td>
		        					<td>
		        						<!-- <ui-select multiple limit="5" on-select="$ctrl.changeCallback($item, $model)" on-remove="$ctrl.changeCallback($item, $model)" ng-model="$ctrl.checkedAreaList" theme="bootstrap" ng-disabled="$ctrl.disabled" close-on-select="false" title="最多可以选择5个地市">
		                                    <ui-select-match>{{$item.name}}</ui-select-match>
		                                    <ui-select-choices repeat="area in $ctrl.areaList | filter:$select.search">
		                                        {{area.name}}
		                                    </ui-select-choices>
		                                </ui-select> -->
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>活动类型</td>
		        					<td>
		        						<div class="select-box">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        					<td>返利物品类型</td>
		        					<td>
		        						<div class="select-box select-box-half">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>是否为首单活动</td>
		        					<td>
		        						<div class="select-box">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        					<td>首单渠道</td>
		        					<td>
		        						<div class="select-box select-box-half">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>用户立减纬度</td>
		        					<td>
		        						<div class="select-box">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        					<td>用户类型</td>
		        					<td>
		        						<div class="select-box select-box-half">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>外部交易类型</td>
		        					<td colspan="3">
		        						<div class="select-box">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>活动所属事业部</td>
		        					<td>
		        						<div class="select-box select-box-half">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        					<td>补充联合活动事业群</td>
		        					<td>
		        						<input type="text" class="form-control" />
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>名单管理</td>
		        					<td>
		        						<div class="select-box select-box-half">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        					<td>是否开发票</td>
		        					<td>
		        						<div class="select-box select-box-half">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        				</tr>
		        			</tbody>
		        		</table>
		        	</div>
		        	<div class="activity-header">
		        		<div class="title">
		                    <img src="../../resources/images/icon_slash.png">
		                    <p>返利规则配置</p>
		                </div>
		        	</div>
		        	<div class="activity-content">
		        		<table class="table table-hover">
		        			<tbody>
		        				<tr>
		        					<td width="25%">返利对象（电信／非电信）</td>
		        					<td width="25%">
		        						<div class="select-box">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        					<td width="25%"></td>
		        					<td width="25%"></td>
		        				</tr>
		        				<tr>
		        					<td>用户限额纬度</td>
		        					<td>
		        						<div class="select-box select-box-half">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        					<td>立减方式</td>
		        					<td>
		        						<div class="select-box select-box-half">
				                            <select class="form-control">
				                                <option value=""></option>
				                            </select>
				                        </div>
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>消费基数</td>
		        					<td>
		        						<input type="text" class="form-control" />
		        					</td>
		        					<td>固定返利金额</td>
		        					<td>
		        						<input type="text" class="form-control" />
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>最低消费金额</td>
		        					<td>
		        						<input type="text" class="form-control" />
		        					</td>
		        					<td>最高消费金额</td>
		        					<td>
		        						<input type="text" class="form-control" />
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>用户返利每笔最小金额</td>
		        					<td>
		        						<input type="text" class="form-control" />
		        					</td>
		        					<td>用户返利每笔最大金额</td>
		        					<td>
		        						<input type="text" class="form-control" />
		        					</td>
		        				</tr>
		        			</tbody>
		        		</table>
		        	</div>
		        	<div class="activity-header">
		        		<div class="title">
		                    <img src="../../resources/images/icon_slash.png">
		                    <p>返利限额规则配置</p>
		                </div>
		        	</div>
		        	<div class="activity-content">
		        		<table class="table table-hover">
		        			<tbody>
		        				<tr>
		        					<td width="25%">用户日返利最大笔数</td>
		        					<td width="25%">
		        						<input type="text" class="form-control" />
		        					</td>
		        					<td width="25%">活动当日返利最大笔数</td>
		        					<td width="25%">
		        						<input type="text" class="form-control" />
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>用户活动期间返利最大笔数</td>
		        					<td>
		        						<input type="text" class="form-control" />
		        					</td>
		        					<td>整个活动返利最大笔数</td>
		        					<td>
		        						<input type="text" class="form-control" />
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>用户返利最大金额</td>
		        					<td>
		        						<input type="text" class="form-control" />
		        					</td>
		        					<td>活动当日返利最大金额</td>
		        					<td>
		        						<input type="text" class="form-control" />
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>用户活动期间返利最大金额</td>
		        					<td>
		        						<input type="text" class="form-control" />
		        					</td>
		        					<td></td>
		        					<td></td>
		        				</tr>
		        			</tbody>
		        		</table>
		        	</div>
		        </div>
		    </div>
		    <div class="detail-operate-result" ng-controller="costSharingCtrl">
		        <div class="row result-header">
		            <div class="col-xs-4">
		                <div class="title">
		                    <img src="../../resources/images/icon_costSharing.png">
		                    <p class="title-cn">成本配置</p>
		                    <p class="title-en">Cost sharing</p>
		                </div>
		            </div>
		            <div class="col-xs-8 text-right">
	                    <button ng-click="isShow3 = !isShow3" class="btn btn-xs btn-set"><i class="iconfont" ng-class="{'arrow-down':!isShow3}">&#xe607;</i> <span ng-bind="isShow3 ? '收起':'展开'">收起</span></button>
	                </div>
		        </div>
		        <div ng-show="isShow3" class="result-content">
		        	<div class="row activity-header activity-header-s">
		        		<div class="col-xs-4">
		        			<div class="title">
			                    <img src="../../resources/images/icon_list_green.png">
			                    <p>成本分摊表</p>
			                </div>
		        		</div>
		        		<div class="col-xs-8 text-right">
		                    <button ng-click="costSharing()" class="btn btn-xs btn-set"><i class="iconfont">&#xe63e;</i> 修改</button>
		                </div>
		        	</div>
		        	<div class="activity-content activity-content-s">
		        		<table class="table table-hover table-bordered">
		                    <thead>
		                        <tr>
		                            <th width="8%">成本分摊方</th>
			        				<th width="10%">成本比例</th>
			        				<th width="10%">成本支付方式</th>
			        				<th width="28%">付款单位机构名称／预付费查询名称</th>
			        				<th width="28%">付款机构代码／预付款查询号</th>
			        				<th>结算方式</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr>
		        					<td>
		        						<p class="overflow-handle">地市公司地市公司</p>
		        					</td>
		        					<td>
		        						<p class="overflow-handle"></p>
		        					</td>
		        					<td>
		        						<p class="overflow-handle"></p>
		        					</td>
		        					<td>
		        						<p class="overflow-handle">付款单位机构名称／预付费查询名称付款单位机构名称／预付费查询名称付款单位机构名称／预付费查询名称付款单位机构名称／预付费查询名称付款单位机构名称／预付费查询名称付款单位机构名称／预付费查询名称付款单位机构名称／预付费查询名称付款单位机构名称／预付费查询名称付款单位机构名称／预付费查询名称</p>
		        					</td>
		        					<td>
		        						<p class="overflow-handle"></p>
		        					</td>
		        					<td>
		        						<p class="overflow-handle"></p>
		        					</td>
		        				</tr>
		        				<tr>
		        					<td>
		        						<p class="overflow-handle">商户</p>
		        					</td>
		        					<td>
		        						<p class="overflow-handle"></p>
		        					</td>
		        					<td>
		        						<p class="overflow-handle"></p>
		        					</td>
		        					<td>
		        						<p class="overflow-handle"></p>
		        					</td>
		        					<td>
		        						<p class="overflow-handle"></p>
		        					</td>
		        					<td>
		        						<p class="overflow-handle"></p>
		        					</td>
		        				</tr>
		                    </tbody>
		                </table>
		        	</div>
		        </div>
		    </div>
		    <div class="detail-operate-result" ng-controller="merchantInfoCtrl">
		        <div class="row result-header">
		            <div class="col-xs-4">
		                <div class="title">
		                    <img src="../../resources/images/icon_store.png">
		                    <p class="title-cn">商户信息</p>
		                    <p class="title-en">Merchant information</p>
		                </div>
		            </div>
		            <div class="col-xs-8 text-right">
	                    <button ng-click="isShow4 = !isShow4" class="btn btn-xs btn-set"><i class="iconfont" ng-class="{'arrow-down':!isShow4}">&#xe607;</i> <span ng-bind="isShow4 ? '收起':'展开'">收起</span></button>
	                </div>
		        </div>
		        <div ng-show="isShow4" class="result-content">
		        	<div class="row activity-header activity-header-s">
		        		<div class="col-xs-4">
		        			<div class="title">
			                    <img src="../../resources/images/icon_list_green.png">
			                    <p>商户列表</p>
			                </div>
		        		</div>
		        	</div>
		        	<div class="activity-content activity-content-s">
		        		<table class="table table-hover table-bordered">
		                    <tbody>
		                        <tr>
		        					<td width="32%">
		        						<p class="overflow-handle">商户数量</p>
		        					</td>
		        					<td>
		        						<p class="overflow-handle">10</p>
		        					</td>
		        					<td width="116">
		        						<button ng-click="merchantEdit()" class="btn btn-xs btn-set"><i class="iconfont">&#xe63e;</i> 编辑</button>
		        					</td>
		        				</tr>
		                    </tbody>
		                </table>
		        	</div>
		        </div>
		    </div>
		    <div class="detail-operate-result">
		        <div class="row result-header">
		            <div class="col-xs-4">
		                <div class="title">
		                    <img src="../../resources/images/icon_store.png">
		                    <p class="title-cn">活动资源信息</p>
		                    <p class="title-en">Activity resource information</p>
		                </div>
		            </div>
		            <div class="col-xs-8 text-right">
	                    <button ng-click="isShow5 = !isShow5" class="btn btn-xs btn-set"><i class="iconfont" ng-class="{'arrow-down':!isShow5}">&#xe607;</i> <span ng-bind="isShow5 ? '收起':'展开'">收起</span></button>
	                </div>
		        </div>
		        <div ng-show="isShow5" class="result-content">
		        	<div class="row activity-header activity-header-s">
		        		<div class="col-xs-4">
		        			<div class="title">
			                    <img src="../../resources/images/icon_list_green.png">
			                    <p>资源列表</p>
			                </div>
		        		</div>
		        		<div class="col-xs-8 text-right">
		                    <button class="btn btn-xs btn-set"><i class="iconfont">&#xe60e;</i> 添加红包</button>
		                    <button class="btn btn-xs btn-set"><i class="iconfont">&#xe60e;</i> 添加代金券</button>
		                </div>
		        	</div>
		        	<div class="activity-content activity-content-s">
		        		<table class="table table-hover table-bordered">
		                    <thead>
		                        <tr>
		                            <th width="32%">资源类型</th>
			        				<th>资源名称</th>
			        				<th width="116">操作</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr>
		        					<td>
		        						<p class="overflow-handle">商户红包</p>
		        					</td>
		        					<td>
		        						<p class="overflow-handle">红包AAA</p>
		        					</td>
		        					<td>
		        						<button class="btn btn-xs btn-set"><i class="iconfont">&#xe63e;</i> 编辑</button>
		        					</td>
		        				</tr>
		                    </tbody>
		                </table>
		        	</div>
		        </div>
		    </div>
		    <div class="activity-action-btns text-center">
		    	<button class="btn btn-submit">保存</button>
	            <button class="btn btn-cancel">提交审批</button>
	        </div>
	    </form>
	</div>
	<!-- 成本配置 -->
    <script type="text/ng-template" id="costSharingModal.html">
        <div class="modal-header">
            <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
            <h3 class="modal-title" id="detail-modal-title"><img class="icon" src="../../resources/images/icon_config.png">成本配置</h3>
        </div>
        <div class="result-list">
            <div class="row activity-header activity-header-s">
        		<div class="col-xs-4">
        			<div class="title">
	                    <img src="../../resources/images/icon_list_green.png">
	                    <p>成本分摊表</p>
	                </div>
        		</div>
        		<div class="col-xs-8 text-right">
                    <button ng-click="addLine()" class="btn btn-xs btn-set"><i class="iconfont">&#xe60e;</i> 新增分摊方</button>
                </div>
        	</div>
        	<div class="activity-content activity-content-s">
        		<table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="8%">成本分摊方</th>
	        				<th width="14%">成本比例</th>
	        				<th width="14%">成本支付方式</th>
	        				<th>付款单位机构名称／预付费查询名称</th>
	        				<th width="28%">付款机构代码／预付款查询号</th>
	        				<th width="100">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in $ctrl.items">
        					<td>
        						<p class="overflow-handle"></p>
        					</td>
        					<td>
        						<input class="form-control" type="text" />
        					</td>
        					<td>
        						<div class="select-box">
		                            <select class="form-control">
		                                <option value=""></option>
		                            </select>
		                        </div>
        					</td>
        					<td>
        						<input class="form-control" type="text" />
        					</td>
        					<td>
        						<input class="form-control" type="text" />
        					</td>
        					<td>
        						<button ng-click="delLine($index)" class="btn btn-xs btn-edit"><i class="iconfont">&#xe7ac;</i> 清空</button>
        					</td>
        				</tr>
                    </tbody>
                </table>
        	</div>
            <div class="text-center page">
                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                <div class="page-num">共<span class="number" ng-bind="$ctrl.totalNum"></span>条记录，当前显示第<span class="number" ng-bind="$ctrl.currentPage"></span>页</div>
            </div>
        </div>
        <div class="modal-footer">
        	<button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">保存</button>
            <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
        </div>
    </script>
    <!-- 活动商户 -->
    <script type="text/ng-template" id="merchantModal.html">
        <div class="modal-header">
            <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
            <h3 class="modal-title" id="detail-modal-title"><img class="icon" src="../../resources/images/icon_store_modal.png">活动商户</h3>
        </div>
        <div class="result-list">
            <div class="row activity-header activity-header-s">
        		<div class="col-xs-4">
        			<div class="title">
	                    <img src="../../resources/images/icon_info_green.png">
	                    <p>营销活动商户列表/代金券商户列表</p>
	                </div>
        		</div>
        		<div class="col-xs-8 text-right">
        			<button class="btn btn-xs btn-set"><i class="iconfont">&#xe60f;</i> 导入</button>
                    <button ng-click="addLine()" class="btn btn-xs btn-set"><i class="iconfont">&#xe60e;</i> 新增分摊方</button>
                </div>
        	</div>
        	<div class="activity-content activity-content-s">
        		<table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="8%">编码</th>
	        				<th width="14%">商户名称</th>
	        				<th width="14%">商户地址</th>
	        				<th>所属地区</th>
	        				<th width="28%">所属分支局</th>
	        				<th width="100">商户状态</th>
	        				<th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in $ctrl.items">
        					<td>
        						<p class="overflow-handle">10000001</p>
        					</td>
        					<td>
        						<p class="overflow-handle">红旗超市</p>
        					</td>
        					<td>
        						<p class="overflow-handle">xxxxxxxxxx</p>
        					</td>
        					<td>
        						<p class="overflow-handle">成都市</p>
        					</td>
        					<td>
        						<p class="overflow-handle">xxxx</p>
        					</td>
        					<td>
        						<p class="overflow-handle">在用</p>
        					</td>
        					<td>
        						<button ng-click="delLine($index)" class="btn btn-xs btn-edit"><i class="iconfont">&#xe610;</i> 删除</button>
        					</td>
        				</tr>
                    </tbody>
                </table>
        	</div>
            <div class="text-center page">
                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                <div class="page-num">共<span class="number" ng-bind="$ctrl.totalNum"></span>条记录，当前显示第<span class="number" ng-bind="$ctrl.currentPage"></span>页</div>
            </div>
        </div>
        <div class="modal-footer">
        	<button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">保存</button>
            <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
        </div>
    </script>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/angular-locale_zh-cn.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/mock.js"></script>
    <script src="../../resources/js/select.js"></script>
    <script src="activityReturn.js"></script>
</body>
